
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Kazuall</h1>
    <p class="lead">Annonces et services entre gamers.</p>
  </div>
</div>
<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
<center><h1> Les Annonces </h1></center>

<% @annonces_small.each do |annonce| %>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= annonce.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= annonce.user.nickname %></h6>
        <h7 class="card-subtitle mb-2 text-muted"><%= annonce.id %>
        <p class="card-text"><%= annonce.description %></p>
        <a href="#" class="btn btn-primary">Ca m'intéresse</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= annonce.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= annonce.user.nickname %></h6>
        <h7 class="card-subtitle mb-2 text-muted"><%= annonce.id %>
        <p class="card-text"><%= annonce.description %></p></p>
        <a href="#" class="btn btn-primary">Ca m'intéresse</a>
      </div>
    </div>
  </div>
</div>
<% end %>